.header {
  padding: 1rem 0 3rem;
}

.nav-item {
  font-size: 0.9rem;
  margin-right: 1.3rem;
  text-decoration: none;
  color: #999;

  &:hover {
    color: #666;
  }
}

.active-nav-item {
  color: #333;
}

.title {
  color: #000;
  font-size: 3rem;
  text-decoration: none;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
}
